# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\02-python\sky_eye\vue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
